PORT=3000

ACCESS_TOKEN_SECRET=your_secret_here
ACCESS_TOKEN_EXPIRY=10m

MONGO_URI=your_mongodb_connection_string_here
FRONTEND_URL=http://localhost:5173

REFRESH_TOKEN_EXPIRY_DAYS=30

GOOGLE_OAUTH_CLIENT_ID=oauth_client_id_here
GOOGLE_OAUTH_CLIENT_SECRET=oauth_client_secret_here
SESSION_SECRET=session_secret_here

CLOUD_NAME=your_cloud_name
CLOUD_API_KEY=your_api_key
CLOUD_API_SECRET=your_api_secret